
        <div id="bookListWrapper">
            <p>Clique no botão 'Comprar' para confirmar a compra</p>
            <div>
                <ul class="list-unstyled">
                    <li class="book" ng-repeat="book in cart">
                        <img style=" float: left;" src="{{book.volumeInfo.imageLinks.thumbnail}}">
                        <div class="book-details clearfix">
                            <div style="float:left; width: 80%">
                                <h3>{{book.volumeInfo.title}}</h3>
                                <p>{{book.saleInfo.retailPrice.amount | currency:"R$ ": 2}}</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">Avaliação: {{book.volumeInfo.averageRating}}</li>
                                    <li class="list-inline-item">Formato: {{book.volumeInfo.printType}}</li>
                                    <li class="list-inline-item">Editora: {{book.volumeInfo.publisher}}</li>
                                    <li class="list-inline-item">Lançamento: {{book.volumeInfo.publishedDate}}</li>
                                </ul>
                                <p>{{ book.volumeInfo.description | cut:true:300:' ...'}}</p>  
                            </div>
                            <div>                                
                                <button class="btn btn-info float-right" style="margin-top: 100px; margin-right: 10px;" ng-click="buy(book)">Comprar</button>                                    
                            </div>
                        </div>                        
                    </li> 
                </ul>
            </div>
        </div>