<!doctype html>
<html lang="pt-br" ng-app ="bookStoreApp">
    <head>
        <meta charset="utf-8">
        <title>Livraria The BookStore</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/app.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="scripts/app.js"></script>
    </head>
    <body>
        <div id="headerWrapper" ng-controller="headerCtrl">
            <span class="float-left logo">{{appDetails.title}}</span>
            <span class="float-left tagLine">{{appDetails.tagLine}}</span>
            <div class="nav-wrapper float-left" >
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#">Livros</a></li>
                    <li><a class="nav-link" href="#">Carrinho</a></li>
                </ul>
            </div>
        </div>

        <div id="bookListWrapper" ng-controller="bookListCtrl">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control float-left" placeholder="Buscar título..." ng-model="searchTerm"/>
                    <button class="btn btn-primary" style="margin-left: 10px" ng-click="doSearch()"> Buscar</button>
                </div>
            </form>
            <div>
                <ul class="list-unstyled">
                    <li class="book" ng-repeat="book in items">
                        <img style=" float: left;" src="{{book.volumeInfo.imageLinks.thumbnail}}">
                        <div class="book-details clearfix">
                            <div style="float:left; width: 80%">
                                <h3>{{book.volumeInfo.title}}</h3>
                                <p>{{book.price | currency:"R$ ": 2}}</p>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">Avaliação: {{book.volumeInfo.averageRating}}</li>
                                    <li class="list-inline-item">Formato: {{book.volumeInfo.printType}}</li>
                                    <li class="list-inline-item">Editora: {{book.volumeInfo.publisher}}</li>
                                    <li class="list-inline-item">Lançamento: {{book.volumeInfo.publishedDate}}</li>
                                </ul>
                                <p>{{ book.volumeInfo.description | cut:true:300:' ...'}}</p>  
                            </div>
                            <div>
                                <a href={{book.volumeInfo.infoLink}}>
                                    <button class="btn btn-info float-right" style="margin-top: 100px">Comprar</button>
                            </div>
                        </div>                        
                    </li> 
                </ul>
            </div>
        </div>
    </body>
</html>