#headerWrapper{    
    width: 100%;
    float: left;
}

.logo{
    padding: 10px;
    margin-left: 10px;
    font-size: 35px;
    font-family: fantasy;
}

.tagLine{
    font-size: 10px;
    margin-top: 50px;
    margin-left: -213px;
    font-family: monospace;
}

.nav-wrapper{
    margin-left: 100px;
    margin-top: 15px;
}

#bookListWrapper {
    width: 100%;
    padding: 10px;
    clear: both;
}

#bookListWrapper input{
    width: 25%;
}

#bookListWrapper .book {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

#bookListWrapper .book-details{
    margin-left: 160px;
}




